/*  i know this ugli but this my :)
by gameisch from Evil Toon Buro   */

@charset "utf-8";
@font-face {
font-family: 'Ubuntu';
src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}
::-webkit-scrollbar{background-color:#eaeaea;}

::-webkit-scrollbar:horizontal{height:20px;}

::-webkit-scrollbar:vertical{width:20px;}

::-webkit-scrollbar-track{background:rgba(0,0,0,0.1);}

::-webkit-scrollbar-thumb{background-color:#222222;}

::-webkit-scrollbar-thumb:horizontal{
background-color:#222222;
background-image:url("../../images/scroll-x.gif"),url('../../images/shadow-bot.png')!important;
background-repeat:no-repeat,repeat-x;
background-position:center center, left bottom;
}
::selection{background:#f32c57!important; color:#fff!important;}
* html .clearfix{
height:1%;
}

body{
line-height:1;
}

html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,
img,ins,kbd,q,samp,small,strong,sub,
sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td,article,aside,
canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,
summary,time,mark,audio,video{
font-family:'Ubuntu';
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

a{
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
text-decoration:none!important;
-webkit-transition:color 300ms ease-out;
 -moz-transition:color 300ms ease-out;
  -o-transition:color 300ms ease-out;
   -ms-transition:color 300ms ease-out;
    transition:color 300ms ease-out;
}
#header{
background-color:#222222;
position:relative;
-overflow:hidden;
height:60px;
width:100%;
-webkit-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-moz-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-o-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-ms-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
}

#header .colour{
-webkit-transition-property:background-color, height;
-moz-transition-property:background-color, height;
-o-transition-property:background-color, height;
-ms-transition-property:background-color, height;
transition-property:background-color, height;
-webkit-transition-duration:450ms, 400ms;
-moz-transition-duration:450ms, 400ms;
-o-transition-duration:450ms, 400ms;
-ms-transition-duration:450ms, 400ms;
transition-duration:450ms, 400ms;
-webkit-transition-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1), cubic-bezier(0.86, 0, 0.07, 1);
-moz-transition-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1), cubic-bezier(0.86, 0, 0.07, 1);
-o-transition-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1), cubic-bezier(0.86, 0, 0.07, 1);
-ms-transition-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1), cubic-bezier(0.86, 0, 0.07, 1);
transition-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1), cubic-bezier(0.86, 0, 0.07, 1);
position:absolute;
display:block;
height:1px;
width:100%;
top:100%;
}

#header #sectionMenu{
-webkit-transition:line-height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-moz-transition:line-height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-o-transition:line-height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-ms-transition:line-height 350ms cubic-bezier(0.86, 0, 0.07, 1);
transition:line-height 350ms cubic-bezier(0.86, 0, 0.07, 1);
position:absolute;
line-height:60px;
left:100px;
top:0px;
}

#header #sectionMenu a{
text-transform:uppercase;
text-decoration:none;
line-height:60px;
display:inline-block;
font-size:12px;
margin:0 2px;
color:rgba(255, 255, 255, 0.6);
}

#header #sectionMenu a:hover,
#header #sectionMenu a.active{
color:#fff;
}

#header h1 a{
-webkit-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-moz-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-o-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-ms-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-transition: all 0.3s ease-in-out;
background:transparent url("../../images/ruby.png") no-repeat center;
border-left:1px dotted rgba(255,255,255,.9);
text-indent:-999px;
position:absolute;
overflow:hidden;
display:block;
height:60px;
width:70px;
left:30px;
top:0px;
opacity:0.7
}

#header h1 a:hover{
background:transparent url("../../images/rubyruby.png") no-repeat center;
-webkit-transition:opacity 300ms ease-out;
 -moz-transition:opacity 300ms ease-out;
  -o-transition:opacity 300ms ease-out;
   -ms-transition:opacity 300ms ease-out;
    transition:opacity 300ms ease-out;
-webkit-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
 -moz-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
   -ms-transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
    transition:height 350ms cubic-bezier(0.86, 0, 0.07, 1);
-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-transition: all 0.3s ease-in-out;
opacity:1;
}
#header:hover{
height:90px;
}

#header:hover #sectionMenu{
line-height:90px;
}

#header:hover hgroup{
line-height:90px;
}

#header:hover h1 a{
height:90px;
}

section,article,nav{display:block;}

section,article,nav{display:block;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:normal;
  color: #f32c57;
}

h1 {
  color:#2cd0f3;
  font-size: 20px;
  line-height: 36px;
}

h2 {
  color:#2cd0f3;
  font-size: 18px;
  line-height: 46px;
}

}
h2 small {
  font-size: 14px;
}
h3,
h4,
h5,
h6 {
  line-height: 36px;
}
h3 {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}
ul, ol {
  margin: 0 0 18px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
  color: #808080;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}
dl {
  margin-bottom: 18px;
}
dl dt, dl dd {
  line-height: 18px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 9px;
}
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}
strong {
  font-style: inherit;
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}
.muted {
  color: #bfbfbf;
}
blockquote {
  margin-bottom: 18px;
  border-left: 5px solid #eee;
  padding-left: 15px;
}
blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
}
blockquote small {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #bfbfbf;
}
blockquote small:before {
  content: '\2014 \00A0';
}
address {
  display: block;
  line-height: 18px;
  margin-bottom: 18px;
}
code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* Forms.less
 * Base styles for various input types, form layouts, and states
 * ------------------------------------------------------------- */
form {
  margin-bottom: 18px;
}
fieldset {
  margin-bottom: 18px;
  padding-top: 0px;
}
fieldset legend {
  display: block;
  padding-left: 50px;
  font-size: 19.5px;
  line-height: 1;
  color: #404040;
  *padding: 0 0 5px 145px;
  /* IE6-7 */

  *line-height: 1.5;
  /* IE6-7 */

}
form .clearfix {
  margin-bottom: 18px;
  zoom: 1;
}
form .clearfix:before, form .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
form .clearfix:after {
  clear: both;
}
label,
input,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: center;
  width: 100%;
  text-align: left;
  color: #404040;
}
form .input {
  margin-left:auto;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select {
  padding: initial;
}
input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
}
input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
}
select, input[type=file] {
  height: 27px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

}
select[multiple] {
  height: inherit;
  background-color: #ffffff;
}
textarea {
  height: auto;
}
input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(44, 208, 243, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(44, 208, 243, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(44, 208, 243, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}
form .clearfix.error > label, form .clearfix.error .help-block, form .clearfix.error .help-inline {
  color: #b94a48;
}
form .clearfix.error input, form .clearfix.error textarea {
  color: #b94a48;
  border-color: #ee5f5b;
}
form .clearfix.error input:focus, form .clearfix.error textarea:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
form .clearfix.error .input-prepend .add-on, form .clearfix.error .input-append .add-on {
  color: #b94a48;
  background-color: #fce6e6;
  border-color: #b94a48;
}
form .clearfix.warning > label, form .clearfix.warning .help-block, form .clearfix.warning .help-inline {
  color: #c09853;
}
form .clearfix.warning input, form .clearfix.warning textarea {
  color: #c09853;
  border-color: #ccae64;
}
form .clearfix.warning input:focus, form .clearfix.warning textarea:focus {
  border-color: #be9a3f;
  -webkit-box-shadow: 0 0 6px #e5d6b1;
  -moz-box-shadow: 0 0 6px #e5d6b1;
  box-shadow: 0 0 6px #e5d6b1;
}
form .clearfix.warning .input-prepend .add-on, form .clearfix.warning .input-append .add-on {
  color: #c09853;
  background-color: #000;
  border-color: #c09853;
}
form .clearfix.success > label, form .clearfix.success .help-block, form .clearfix.success .help-inline {
  color: #468847;
}
form .clearfix.success input, form .clearfix.success textarea {
  color: #468847;
  border-color: #57a957;
}
form .clearfix.success input:focus, form .clearfix.success textarea:focus {
  border-color: #458845;
  -webkit-box-shadow: 0 0 6px #9acc9a;
  -moz-box-shadow: 0 0 6px #9acc9a;
  box-shadow: 0 0 6px #9acc9a;
}
form .clearfix.success .input-prepend .add-on, form .clearfix.success .input-append .add-on {
  color: #468847;
  background-color: #bcddbc;
  border-color: #468847;
}
.input-mini,
input.mini,
textarea.mini,
select.mini {
  width: 60px;
}
.input-small,
input.small,
textarea.small,
select.small {
  width: 90px;
}
.input-medium,
input.medium,
textarea.medium,
select.medium {
  width: 150px;
}
.input-large,
input.large,
textarea.large,
select.large {
  width: 210px;
}
.input-xlarge,
input.xlarge,
textarea.xlarge,
select.xlarge {
  width: 270px;
}
.input-xxlarge,
input.xxlarge,
textarea.xxlarge,
select.xxlarge {
  width: 530px;
}
textarea.xxlarge {
  overflow-y: auto;
}
input.span1, textarea.span1 {
  display: inline-block;
  float: none;
  width: 30px;
  margin-left: 0;
}
input.span2, textarea.span2 {
  display: inline-block;
  float: none;
  width: 90px;
  margin-left: 0;
}
input.span3, textarea.span3 {
  display: inline-block;
  float: none;
  width: 150px;
  margin-left: 0;
}
input.span4, textarea.span4 {
  display: inline-block;
  float: none;
  width: 210px;
  margin-left: 0;
}
input.span5, textarea.span5 {
  display: inline-block;
  float: none;
  width: 270px;
  margin-left: 0;
}
input.span6, textarea.span6 {
  display: inline-block;
  float: none;
  width: 330px;
  margin-left: 0;
}
input.span7, textarea.span7 {
  display: inline-block;
  float: none;
  width: 390px;
  margin-left: 0;
}
input.span8, textarea.span8 {
  display: inline-block;
  float: none;
  width: 450px;
  margin-left: 0;
}
input.span9, textarea.span9 {
  display: inline-block;
  float: none;
  width: 510px;
  margin-left: 0;
}
input.span10, textarea.span10 {
  display: inline-block;
  float: none;
  width: 570px;
  margin-left: 0;
}
input.span11, textarea.span11 {
  display: inline-block;
  float: none;
  width: 630px;
  margin-left: 0;
}
input.span12, textarea.span12 {
  display: inline-block;
  float: none;
  width: 690px;
  margin-left: 0;
}
input.span13, textarea.span13 {
  display: inline-block;
  float: none;
  width: 750px;
  margin-left: 0;
}
input.span14, textarea.span14 {
  display: inline-block;
  float: none;
  width: 810px;
  margin-left: 0;
}
input.span15, textarea.span15 {
  display: inline-block;
  float: none;
  width: 870px;
  margin-left: 0;
}
input.span16, textarea.span16 {
  display: inline-block;
  float: none;
  width: 930px;
  margin-left: 0;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}
input.submit {
border-radius:none;
padding:10px;
background-color:#222222;
color:#2ce3f3!important;
opacity:0.6;
-webkit-transition:opacity 500ms ease-out;
 -moz-transition:opacity 500ms ease-out;
  -o-transition:opacity 500ms ease-out;
   -ms-transition:opacity 500ms ease-out;
    transition:opacity 500ms ease-out;
}
input.submit:hover {
background-color:#222222;
color:#2ce3f3!important;
opacity:0.9;
}
.sidebar form input.submit {
border-radius:none;
padding:10px;
background-color:#222222!important;
color:#2ce3f3!important;
opacity:0.6;
-webkit-transition:opacity 500ms ease-out;
 -moz-transition:opacity 500ms ease-out;
  -o-transition:opacity 500ms ease-out;
   -ms-transition:opacity 500ms ease-out;
    transition:opacity 500ms ease-out;
}
.sidebar form input.submit:hover {
background-color:#222222;
color:#2ce3f3!important;
opacity:0.9;
}
/* Header */
#logo {
	float: left;
}

#logo h1 {
	padding-left:20px;
	font-size: 38px;
	color: #494949;
}

#logo h1 sup {
	padding-left:20px;
	vertical-align: text-top;
	font-size: 24px;
}

#logo h1 a {
	color:rgba(255,255,255,0.8);
}

#logo h1 a:hover {
	color: #f32c57;
}

#logo h2 {
	padding-left:20px;
	margin-top: -10px;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
}

#logo a {
	text-decoration: none;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 30px;
	padding: 7px;
	text-decoration: none;
	font-size: 13px;
	color: #000000;
}



/* Page */

#page {
	width: 850px;
	margin: 0 auto;
}

/* Content */

#content {
	float: left;
	width: 575px;
	font-size:14px;
	line-height:20px;
	letter-spacing:0px;
}
#content .content p{font-size:15px;}
#content img{
border:15px solid rgba(34,34,34,0.9);
}
.navigation {
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/* Post */

.atomentry {
}
.atomentry .title h2 a {
color:#2cd0f3;
font-size:40px;

}

.atomentry .title a:link, .atomentry .title a:active, .atomentry .title a:visited {
	text-decoration: none;
	color:#2892a9;
	font-size:40px;
	border-bottom:1px solid rgba(44,203,243,0.3);

-webkit-transition:color 300ms ease-out;
 -moz-transition:color 300ms ease-out;
  -o-transition:color 300ms ease-out;
   -ms-transition:color 300ms ease-out;
    transition:color 300ms ease-out;

}

.atomentry .title a:hover {
	text-decoration: none!important;
	color:#f32c57;
	border-bottom:10px solid rgba(243,44,87,0.3);
}

.atomentry .entry {
}



.atomentry .meta p {
	margin: 0;
	line-height: normal;
	padding-top:20px;
	color: #999999;
	font-size:12px;
	font-style:italic;
}

.atomentry .meta .author {
	float: left;
}
.author img {
	border:none!important;
	padding-right:20px!important;
	
}
.atomentry .meta .links {
	padding-left:12px;
	float: left;
	font-style:italic;
	color:#44ceec!important;
	
	padding-right:25px;
	text-align:right;
display:block;
}
.atomentry .meta .links .more {
	padding-left:12px;
	float: left;
	font-style:normal;
	color:#f32c57!important;
	
	padding-right:5px;
	text-align:right;
display:block;
}

.atomentry .meta b {
	display: none;
}
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  float: left;
  margin: 0;
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
h2 a{
width:100%;
font-size:14px;
border-bottom:1px solid rgba(44,203,243,0.3);
}
h2 a:hover{
color:rgba(243,44,87,0.5);
border-bottom:5px solid rgba(243,44,87,0.5);
}
body p {font-size:13px;}
body p a{font-size:15px;border-bottom:1px dashed #ccc;}
small a{font-size:12px!important;padding-top:10px!important;}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid;
  border-right-color: #ddd;
  border-right-color: rgba(0, 0, 0, 0.15);
  *border-right-color: #ddd;
  /* IE6-7 */

  text-decoration: none;
}
.pagination a:hover, .pagination .active a {
  background-color: #c7eefe;
}
.pagination .disabled a, .pagination .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.pagination .next a {
  border: 0;
}

/* Comments */
#commentList {width:500px;}
#comments_div {
position:relative;
left:-50px;
width:100%;
padding-top:10px;
}
#comments_div li{
padding-bottom:13px;
}
#comments_div p, #comments_div ol, #comments_div ul {
	line-height: normal;
	font-size:12px;
}
#comments_div p{
font-size:15px;
-webkit-transition:color 300ms ease-out;
 -moz-transition:color 300ms ease-out;
  -o-transition:color 300ms ease-out;
   -ms-transition:color 300ms ease-out;
    transition:color 300ms ease-out;
}
#comments_div p:hover{
font-size:15px;
color:#000;
}
#comment_body {
	width: 500px;
}

/* Respond */

#respond {
float:center;

}
#respond h2{
border-top:2px groove rgba(0,0,0,0.3);
}
#respond p {
	
	line-height: normal;
	padding-bottom:15px;
	padding-right:10px;
}
#respond p input{
	
	line-height: normal;
	margin-bottom:15px;
	margin-left:10px;
}
#respond textarea{
	width:550px;
	
}
#respond .submit input {
	float:left;
	
}
/* Sidebar */

#sidebar {
	float: right;
	width: 195px;
}
#categories a{font-size:14px;color:rgba(0,0,0,0.6);}
#categories a:hover{color:rgba(0,0,0,1);}
.static-body a{font-size:14px;color:rgba(0,0,0,0.6);}
.static-body a:hover{color:rgba(0,0,0,1);}
#sidebar h3{
	padding-top:20px;
	font-size:14px;
	color:rgba(243,44,87,.5);
	-webkit-transition:color 300ms ease-out;
 -moz-transition:color 300ms ease-out;
  -o-transition:color 300ms ease-out;
   -ms-transition:color 300ms ease-out;
    transition:color 300ms ease-out;
}
#sidebar h3:hover{
	color:rgba(243,44,87,1);
}
p span a{
background-color:#222222;
color:#fff;
line-height:24px;
padding:10px;
-webkit-border-radius:5%!important;
-moz-border-radius:5%!important;
-o-border-radius:5%!important;
-ms-border-radius:5%!important;
border-radius:5%!important;
opacity:.6;
-webkit-transition:opacity 500ms ease-out;
 -moz-transition:opacity 500ms ease-out;
  -o-transition:opacity 500ms ease-out;
   -ms-transition:opacity 500ms ease-out;
    transition:opacity 500ms ease-out;
}
p span a:hover{
-webkit-border-radius:5%!important;
-moz-border-radius:5%!important;
-o-border-radius:5%!important;
-ms-border-radius:5%!important;
border-radius:5%!important;
opacity:.6;
opacity:1;
-webkit-transition:opacity 500ms ease-out;
 -moz-transition:opacity 500ms ease-out;
  -o-transition:opacity 500ms ease-out;
   -ms-transition:opacity 500ms ease-out;
    transition:opacity 500ms ease-out;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 40px;
}

#sidebar li li {
	margin: 0;
}


.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */



#fbox1, #fbox2, #fbox3 {
	float: left;
}

#fbox1 {
	width: 310px;
}

#fbox2 {
	width: 200px;
	padding-left: 70px;
}

#fbox3 {
	width: 200px;
	padding-left: 70px;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */

#footer {
	position:relative;
	bottom:-50px!important;
	height: 150px;
	min-height: 150px;
	margin: 100px 0 0 0;
	border-top:1px solid #ddd;
	background-color:#222222;
}

html>body #footer {
	height: auto;
	
}

#footer .wrap {
	width: 100%;
	margin: 0 auto;
	
}
#footer .wrap a{
	width: 100%;
	margin: 0 auto;
	border-bottom:none;
	font-size:13px;
	font-weight:normal;
}
#legal {
	clear: both;
	font-size:12px;
	padding-top: 20px;
	padding-left:25px;
	float:left;
	text-align: left;
	color:rgba(255,255,255,0.6);
}

#legal a {
	color:rgba(255,255,255,0.7);
}

#legal a:hover {
color:#f32c57;
}

#fbox1, #fbox2, #fbox3 {
	float: left;
}

#fbox1 {
	width: 310px;
}

#fbox2 {
	width: 200px;
	padding-left: 70px;
}

#fbox3 {
	width: 200px;
	padding-left: 70px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
display:block;
}

nav ul{
list-style:none;
}

blockquote,q{
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after{
content:'';
content:none;
}
ins{
background-color:#ff9;
color:#000;
text-decoration:none;
}

mark{
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del{
text-decoration:line-through;
}

abbr[title],dfn[title]{
border-bottom:1px dotted;
cursor:help;
}

table{
border-collapse:collapse;
border-spacing:0;
}

hr{
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}

input,select{
vertical-align:middle;
}

